textarea {
    min-height: 400px;
}

.child{
    display: inline-block;
    margin-top: 3px;
    text-align: center;
}

.body{
    text-align: right;
}
.mail_item{
    margin-top: 3px;
    padding: 2px;
}
.mail_body{
    margin-top: 1rem;
    border-style: solid;
    padding: 1rem;
    
}
.ChildText{
    margin:auto;
    text-align: center;
}
#button{
    text-align: center;
}

.category{
    margin: 1rem;
}